<div id="<%= dom_id report %>">
  <% if report.html_report %>
    <div style="position: fixed; inset: 57px 0px 0px 0px;">
      <iframe title="simc report" sandbox="allow-scripts" src="/simc/reports/<%= report.id %>/html_report" style="width: 100%; height: 100%; margin: 0px; padding: 0px;"></iframe>
    </div>
  <% else %>
    <h1>Simulation in progress</h1>
    <span class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </span>
  <% end %>
</div>