<div>
  <h1 class="mb-6">Under construction...</h1>
  <h3>Compare Gear</h3>

  <div class="mb-3">
    <label for="simcinput" class="form-label">SimC Input</label>
    <textarea class="form-control" id='simcinput' rows='20'></textarea>
  </div>
</div>